body{
  font-family: Arial;
  padding:20px;
  background-size: cover;
  background-position: center;
}

.card-admin{
  display:flex;
  gap:10px;
  margin-bottom:10px;
  padding:10px;
  border:1px solid #ddd;
}

.pedido-card{
  border:1px solid #ddd;
  padding:12px;
  margin-bottom:10px;
  background:white;
  border-radius:6px;
}

.estado-pendiente{
   border-left: 6px solid #f1c40f;
   background: #fffbea;
}

.estado-enviado{
   border-left: 6px solid #3498db;
   background: #eef6ff;
}

.estado-entregado{
   border-left: 6px solid #2ecc71;
   background: #eafaf1;
}

