body{
  font-family: Arial;
  padding:20px;
  background-size: cover;
  background-position: center;
}

.card-admin{
  display:flex;
  gap:10px;
  margin-bottom:10px;
  padding:10px;
  border:1px solid #ddd;
}

.pedido-card{
  border:1px solid #007bff;
  padding:12px;
  margin-bottom:10px;
  background:white;
  border-radius:6px;
}

.estado-pendiente{
   border-left: 6px solid #f1c40f;
   background: #fffbea;
}

.estado-enviado{
   border-left: 6px solid #3498db;
   background: #eef6ff;
}

.estado-entregado{
   border-left: 6px solid #2ecc71;
   background: #eafaf1;
}

.filtros-grafica{
  display:flex;
  gap:10px;
  margin-bottom:15px;
}

.filtros-grafica button{
  flex:1;
  padding:10px;
  border:none;
  background:#111;
  color:white;
  cursor:pointer;
  border-radius:6px;
  font-weight:bold;
  transition:0.2s;
}

.filtros-grafica button:hover{
  background:#007bff;
}

.filtros-grafica button{
  flex:1;
  padding:12px;
  border:none;
  background:#111;
  color:white;
  cursor:pointer;
  border-radius:6px;
  font-weight:bold;
  transition:all 0.3s ease;
}

.filtros-grafica button.activo{
  background:#007bff;
  transform:scale(1.10);
  box-shadow:0 4px 12px rgba(0,0,0,0.2);
}

