body{
   margin:0;
   height:100vh;
   display:flex;
   justify-content:center;
   align-items:center;
   background:linear-gradient(135deg,#000,#111);
   font-family:Arial;
}

.login-box{
   background:#111;
   padding:40px;
   border-radius:12px;
   text-align:center;
   width:300px;
   box-shadow:0 0 25px rgba(255,215,0,0.3);
   border:1px solid rgba(255,215,0,0.3);
}

.logo{
   width:90px;
   margin-bottom:10px;
}

h2{
   color:#FFD700;
   margin-bottom:5px;
}

.sub{
   color:#aaa;
   font-size:13px;
   margin-bottom:20px;
}

input{
   width:100%;
   padding:12px;
   margin:8px 0;
   border-radius:6px;
   border:none;
   background:#222;
   color:white;
}

input:focus{
   outline:none;
   border:1px solid #FFD700;
}

.premium-btn{
  width:100%;
   padding:12px;
   margin-top:10px;
   border:none;
   border-radius:6px;
   background:linear-gradient(45deg,#FFD700,#b89600);
   color:black;
   font-weight:bold;
   cursor:pointer;
   transition:.3s;
   align-items: center;
   justify-content: center;
}

.premium-btn:hover{
  transform:scale(1.05);
  box-shadow:0 0 20px gold;
}

.recuperar{
  color:#FFD700;
  font-size:12px;
  margin-top:10px;
  cursor:pointer;
}

.recuperar:hover{
  text-decoration:underline;
}

#goldParticles{
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  background: radial-gradient(circle at center, #111 0%, #000 100%);
}

.premium-card{
  background:#111;
  border:2px solid gold;
  border-radius:15px;
  padding:40px;
  box-shadow:
    0 0 10px gold,
    0 0 20px goldenrod,
    0 0 40px rgba(255,215,0,0.6);
  animation: glow 2s infinite alternate;
}

@keyframes glow{
  from{
    box-shadow:
      0 0 10px gold,
      0 0 20px goldenrod;
  }
  to{
    box-shadow:
      0 0 20px gold,
      0 0 40px orange;
  }
}

.premium-card{
  animation: entrance 0.8s ease-out, glow 2s infinite alternate;
}

@keyframes entrance{
  0%{
    transform: scale(0.5) rotateX(90deg);
    opacity:0;
  }
  100%{
    transform: scale(1) rotateX(0deg);
    opacity:1;
  }
}

body { background:red !important; }
