body{
  font-family: Arial;
  padding:20px;
  background-size: cover;
  background-position: center;
}

.card-admin{
  display:flex;
  gap:10px;
  margin-bottom:10px;
  padding:10px;
  border:1px solid #ddd;
}

.pedido-card{
  border:1px solid #ddd;
  padding:10px;
  margin:10px 0;
  background:#fafafa;
}
